Package: com.shade.protean
Name: Protean
Depends: firmware (>=7.0), mobilesubstrate, libstatusbar | libstatusbar9, applist, com.a3tweaks.flipswitch, preferenceloader
Provides: com.n00neimp0rtant.opennotifier
Conflicts: com.n00neimp0rtant.opennotifier, net.tateu.opennotifierbeta, net.tateu.opennotifier
Version: 2.0
Architecture: iphoneos-arm
Description: Your status bar, your way.
Maintainer: Shade Zepheri <ziroalpha@gmail.com>
Author: Shade Zepheri <ziroalpha@gmail.com>
Section: Tweaks
